.container {
	position: relative;
	height: 100%;
	margin: 0 0 116px 0;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 1952px;
		width: 100%;
		height: 1107px;
		background: #fafbfc;
		z-index: -1;

		@media (max-width: 1024px) {
			top: 1232px;
			height: 1385px;
		}

		@media (max-width: 895px) {
			top: 1666px;
			height: 1719px;
		}

		@media (max-width: 425px) {
			top: 1552px;
			height: 1734px;
		}
	}
}

.title {
	font-size: 36px;
	line-height: 41px;
	font-weight: 700;
	color: #455a64;
	text-align: center;
	margin-bottom: 115px;

	@media (max-width: 895px) {
		font-size: 30px;
		line-height: 36px;
		color: #37474f;
		margin-bottom: 40px;
	}
}

.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 940px;

	@media (max-width: 1024px) {
		max-width: 816px;
	}

	@media (max-width: 895px) {
		padding: 0 40px 0 45px;
		margin: 0;
		max-width: 100%;
	}

	@media (max-width: 425px) {
		padding: 0 20px 0 37px;
	}
}

.item {
	position: relative;
}

.info_title {
	font-size: 21px;
	line-height: 25px;
	font-weight: 700;
	color: #e1e6ee;
	margin: 0 0 13px 0;

	.num {
		display: inline-block;
		font-size: 74px;
		line-height: 74px;
		font-weight: 700;
		font-family: 'Titillium Web', sans-serif;
	}

	.dot {
		margin: 0 5px 0 9px;
	}

	@media (max-width: 895px) {
		margin: 0 0 13px -5px;
	}
}

.info_subtitle {
	font-size: 21px;
	line-height: 25px;
	font-weight: 700;
	color: #37474f;
	margin: 0 0 8px 5px;

	@media (max-width: 895px) {
		margin: 0 0 8px 0;
	}

	@media (min-width: 361px) {
		br {
			display: none;
		}
	}
}

.info_text {
	font-size: 16px;
	line-height: 27px;
	color: #78909c;
	margin: 0 0 0 5px;

	@media (max-width: 895px) {
		margin: 0;
	}
}

.employer__first {
	margin: 0 0 94px 0;
	min-height: 869px;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: -27px;
		height: 869px;
		width: 519px;
		background-image: url(../../../public/images/employer-1.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	&:before {
		content: '';
		position: absolute;
		top: 324px;
		left: 10px;
		width: 495px;
		height: 634px;
		background-image: url(../../../public/images/employer-line-1.svg);
	}

	.info {
		max-width: 411px;
		padding: 48px 0 0;

		@media (max-width: 1024px) {
			padding: 24px 0 0;
		}
	}

	// Media
	@media (max-width: 1024px) {
		min-height: 683px;
		margin: 0 0 84px 0;

		&:after {
			background-image: url(../../../public/images/employer-1-1024.png);
			width: 413px;
			right: -32px;
			height: 683px;
			background-size: contain;
		}

		&:before {
			top: 300px;
			width: 375px;
			height: 454px;
			background-image: url(../../../public/images/employer-line-1-1024.svg);
		}
	}

	@media (max-width: 895px) {
		min-height: 974px;
		margin: 0 0 19px 0;

		&:after {
			top: 284px;
			right: initial;
			left: -31px;
		}

		&:before {
			background-image: url(../../../public/images/app-employer-long-line.svg);
			width: 16px;
			height: 3510px;
			top: 72px;
			left: -33px;
		}
	}

	@media (max-width: 425px) {
		min-height: 962px;
		margin: 0 0 6px 0;

		&:after {
			background-image: url(../../../public/images/employer-1-360.png);
			width: 356px;
			top: 338px;
			right: initial;
			left: -33px;
			height: 604px;
			background-size: contain;
		}

		&:before {
			background-image: url(../../../public/images/app-employer-long-line-360.svg);
			width: 16px;
			height: 3516px;
			left: -29px;
		}
	}
}

.employer__second {
	margin: 0 0 109px 0;
	min-height: 362px;

	&:after {
		content: '';
		position: absolute;
		top: -2px;
		left: -17px;
		width: 432px;
		height: 362px;
		background-image: url(../../../public/images/employer-2.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	&:before {
		content: '';
		position: absolute;
		top: 282px;
		left: 489px;
		width: 16px;
		height: 200px;
		background-image: url(../../../public/images/employer-line-2.svg);
		background-repeat: no-repeat;

		@media (max-width: 895px) {
			display: none;
		}
	}

	.info {
		max-width: 459px;
		padding: 22px 0 0;
		margin-left: auto;
		margin-right: 6px;

		@media (max-width: 1024px) {
			margin-right: 1px;
			padding: 14px 0 0;
		}

		@media (max-width: 895px) {
			margin-right: 0;
			margin-left: initial;
			max-width: 395px;
		}
	}

	// Media
	@media (max-width: 1024px) {
		min-height: 414px;
		margin: 0 0 132px 0;

		&:after {
			background-image: url(../../../public/images/employer-2-1024.png);
			top: 0;
			left: -14px;
			width: 337px;
			height: 414px;
			background-size: contain;
		}

		&:before {
			top: 274px;
			left: 369px;
			width: 16px;
			height: 263px;
			background-image: url(../../../public/images/employer-line-2-1024.svg);
		}
	}

	@media (max-width: 895px) {
		min-height: 675px;
		margin: 0 0 51px 0;

		&:after {
			top: 274px;
			left: -23px;
		}
	}

	@media (max-width: 425px) {
		min-height: 702px;

		&:after {
			top: 301px;
			left: -24px;
		}
	}
}

.employer__third {
	margin: 0 0 168px 0;
	min-height: 688px;

	&:after {
		content: '';
		position: absolute;
		top: 16px;
		left: -25px;
		width: 448px;
		height: 688px;
		background-image: url(../../../public/images/employer-3.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}

	&:before {
		content: '';
		position: absolute;
		top: 298px;
		left: 10px;
		width: 494px;
		height: 539px;
		background-image: url(../../../public/images/employer-line-3.svg);
		background-repeat: no-repeat;

		@media (max-width: 895px) {
			display: none;
		}
	}

	.info {
		max-width: 459px;
		padding: 22px 0 0;
		margin-left: auto;
		margin-right: 1px;

		@media (max-width: 1024px) {
			margin-right: 1px;
			padding: 18px 0 0;
		}

		@media (max-width: 895px) {
			margin-right: 0;
			margin-left: initial;
			max-width: 395px;
		}
	}

	// Media
	@media (max-width: 1024px) {
		min-height: 534px;
		margin: 0px 0 140px 0;

		&:after {
			background-image: url(../../../public/images/employer-3-1024.png);
			top: 1px;
			width: 354px;
			height: 534px;
			left: -22px;
			background-size: contain;
		}

		&:before {
			top: 278px;
			left: 10px;
			width: 375px;
			height: 389px;
			background-image: url(../../../public/images/employer-line-3-1024.svg);
		}

		.info_subtitle {
			max-width: 360px;
		}
	}

	@media (max-width: 895px) {
		min-height: 772px;
		margin: 0 0 60px 0;

		&:after {
			top: 278px;
			left: -30px;
		}
	}

	@media (max-width: 425px) {
		min-height: 799px;

		&:after {
			top: 305px;
			left: -32px;
		}
	}
}

.employer__fourth {
	margin: 0 0 99px 0;
	min-height: 823px;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: -27px;
		width: 519px;
		height: 823px;
		background-image: url(../../../public/images/employer-4.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	&:before {
		content: '';
		position: absolute;
		top: 284px;
		left: 10px;
		width: 495px;
		height: 635px;
		background-image: url(../../../public/images/employer-line-4.svg);
		background-repeat: no-repeat;

		@media (max-width: 895px) {
			display: none;
		}
	}

	.info {
		max-width: 459px;
		padding: 8px 0 0;

		@media (max-width: 1024px) {
			max-width: 406px;
			padding: 20px 0 0;
		}
	}

	// Media
	@media (max-width: 1024px) {
		min-height: 647px;
		margin: 0 0 90px 0;

		&:after {
			background-image: url(../../../public/images/employer-4-1024.png);
			width: 413px;
			height: 647px;
			right: -32px;
			background-size: contain;
		}

		&:before {
			top: 321px;
			width: 375px;
			height: 420px;
			background-image: url(../../../public/images/employer-line-4-1024.svg);
		}

		.info_subtitle {
			max-width: 360px;
		}
	}

	@media (max-width: 895px) {
		min-height: 895px;
		margin: 0 0 41px 0;

		&:after {
			top: 280px;
			right: initial;
			left: -31px;
		}

		.info_subtitle {
			max-width: 395px;
		}
	}

	@media (max-width: 425px) {
		min-height: 872px;

		&:after {
			background-image: url(../../../public/images/employer-4-360.png);
			width: 356px;
			height: 572px;
			top: 332px;
			right: initial;
			left: -33px;
			background-size: contain;
		}
	}
}

.employer__fifth {
	margin: 0 0 85px 0;
	min-height: 530px;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: -25px;
		width: 452px;
		height: 530px;
		background-image: url(../../../public/images/employer-5.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	.info {
		max-width: 459px;
		padding: 24px 0 0;
		margin-left: auto;
		margin-right: 1px;

		@media (max-width: 1024px) {
			padding: 31px 0 0;
			margin-right: 1px;
		}

		@media (max-width: 895px) {
			margin-right: 0;
			margin-left: initial;
		}
	}

	// Media
	@media (max-width: 1024px) {
		min-height: 411px;

		&:after {
			background-image: url(../../../public/images/employer-5-1024.png);
			width: 353px;
			left: -22px;
			height: 411px;
			background-size: contain;
		}
	}

	@media (max-width: 895px) {
		min-height: 654px;

		&:after {
			top: 291px;
			left: -31px;
		}
	}

	@media (max-width: 425px) {
		min-height: 681px;

		&:after {
			top: 318px;
			left: -33px;
		}
	}
}