.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: #f8faff;
}

.menu {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1280px;
	padding: 0 80px;
	margin: 0 auto;
	height: 96px;
	background-color: #f8faff;
	transition: all .3s;
	z-index: 999;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 834px;
	width: 100%;
}

.list {
	display: flex;
	align-items: center;
}

.item {
	margin-left: 40px;

	&:first-child {
		margin-left: 0;
	}
}

.title {
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	color: #37474f;
	cursor: pointer;
	transition: all 0.2s;

	@media (hover: hover) {
		&:hover {
			color: #151B1E;
		}
	}

	&:active {
		color: #151B1E;
	}
}

.create {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 200px;
	height: 48px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	border-radius: 4px;
	background: linear-gradient(180deg, #208ae8, #1681e0);
	margin: 0 0 0 24px;
	cursor: pointer;

	@media (hover: hover) {
		&:hover {
			background: linear-gradient(180deg, #1679D1 0%, #1371C4 100%);
			color: #fff;
		}
	}

	&:active {
		background: linear-gradient(180deg, #1679D1 0%, #1371C4 100%);
		color: #fff;
	}
}

.logo {
	margin-bottom: 1px;
}