.container {
	display: flex;
	margin-left: 24px;

	@media (min-width: 1025px) {
		display: none;
	}
}

#toggle {
	height: 0;
	width: 0;
	visibility: hidden;
}

#toggle:checked+.btn>span {
	transform: rotate(45deg);
}

#toggle:checked+.btn>span::before {
	top: 0;
	transform: rotate(0deg);
}

#toggle:checked+.btn>span::after {
	top: 0;
	transform: rotate(90deg);
}

#toggle:checked~.menu {
	opacity: 1;
	visibility: visible;
}

.btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border: 1px solid #37474F;
	border-radius: 4px;
	cursor: pointer;
	z-index: 9999;
	margin: 0;

	@media (min-width: 1025px) {
		display: none;
	}
}

.btn>span,
.btn>span::before,
.btn>span::after {
	display: block;
	position: absolute;
	width: 18px;
	height: 2px;
	background-color: #000;
	transition-duration: .3s;
}

.btn>span::before {
	content: '';
	top: -6px;
}

.btn>span::after {
	content: '';
	top: 6px;
}

.menu {
	position: relative;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 632px;
	margin: 0;
	padding: 95px 0 0;
	background-color: #fff;
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	z-index: -1;
	opacity: 0;
	visibility: hidden;

	// &.active {
	// 	opacity: 1;
	// 	visibility: visible;
	// }

	@media (max-width: 1280px) {
		padding: 95px 80px 0 68px;
	}

	@media (max-width: 1024px) {
		padding: 79px 0 0;
	}
}

.wrapper {
	max-width: 1024px;
	padding: 0 92px;
	margin: 0 auto;

	@media (max-width: 896px) {
		max-width: 100%;
		padding: 0 28px;
	}

	@media (max-width: 480px) {
		padding: 0 16px;
	}
}

.line_box {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 12px;

	@media (max-width: 480px) {
		padding: 0 4px;
	}
}

.line {
	max-width: 100%;
	height: 1px;
	background-color: #e1e1f3;
}

.inner {
	display: flex;
	justify-content: space-between;
	padding: 56px 12px 0 0;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: calc(100vh - 79px);

	@media (max-width: 767px) {
		display: block;
		padding: 56px 0 0 0;
	}

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	@media (max-width: 480px) {
		padding: 40px 0 41px 0;
	}
}

.scope {
	max-width: 362px;
	width: 100%;
	margin-right: 16px;

	.title {
		margin-left: 12px;
	}

	@media (max-width: 767px) {
		display: none;
	}
}

.title {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #b0bec5;
	margin-bottom: 20px;
}

.scope__wrapper {
	width: 100%;

	@media (max-width: 767px) {
		padding: 36px 0 51px;
	}
}

.scope_item {
	display: flex;
	width: 100%;
	padding: 12px;
	border-radius: 24px;
	min-height: 99px;
	cursor: pointer;
	margin-bottom: 1px;
	background-color: transparent;

	@media (hover: hover) {
		&:hover {
			border-radius: 24px;
			background-color: #FAFAFD;
		}
	}

	&:active {
		border-radius: 24px;
		background-color: #FAFAFD;
	}

	@media (max-width: 480px) {
		padding: 12px 16px;
	}
}

.scope_icon {
	height: 32px;
	flex: 0 0 32px;
	margin-right: 16px;
}

.scope_info {
	padding-top: 7px;

	@media (max-width: 480px) {
		max-width: 290px;
	}
}

.scope_title {
	font-size: 17px;
	line-height: 20px;
	font-weight: 600;
	color: #455a64;
	margin-bottom: 8px;
}

.scope_text {
	font-size: 16px;
	line-height: 20px;
	color: #607d8b;
	margin-bottom: 0;
}

.help {
	max-width: 360px;
	width: 100%;

	@media (max-width: 767px) {
		display: none;
	}
}

.help__top {
	border-bottom: 1px solid #e1e1f3;
	padding-bottom: 45px;
	margin: 30px 0 32px;

	@media (max-width: 480px) {
		position: relative;
		margin: 21px 0 17px;
		padding-bottom: 28px;
		border-bottom: none;

		&:after {
			content: "";
			position: absolute;
			bottom: -1px;
			left: 16px;
			height: 1px;
			width: 92.9%;
			background-color: #e1e1f3;
		}
	}
}

.help_link {
	display: block;
	padding: 10px 0;
	font-size: 17px;
	line-height: 20px;
	font-weight: 600;
	color: #455a64;

	@media (hover: hover) {
		&:hover {
			color: #151B1E;
		}
	}

	&:active {
		color: #151B1E;
	}
}

.help__rules {
	margin-top: 30px;

	@media (max-width: 480px) {
		margin-top: 21px;
	}
}

// Start: accordion

.accordion {
	width: 100%;

	@media (min-width: 768px) {
		display: none;
	}
}

.accordion__item {
	position: relative;

	&.active {
		.accordion__item_btn:after {
			background: rgba(213, 217, 225, 0.2);
		}

		.accordion__item_icon {
			transform: scaleY(-1);
		}
	}
}

.accordion__item_btn {
	position: relative;
	display: flex;
	align-items: center;
	padding: 15px 18px 16px 16px;
	width: 100%;
	text-align: left;
	background: transparent;

	&:after {
		content: "";
		position: absolute;
		height: 68px;
		left: 0;
		top: -8px;
		width: 100%;
		border-radius: 8px;
		background: transparent;
		z-index: -1;
	}
}

.accordion__item_title {
	font-size: 17px;
	line-height: 17px;
	font-weight: 600;
	text-transform: uppercase;
	color: #455A64;
}

.accordion__item_icon {
	margin-left: auto;
	transition: 0.2s ease-in-out;
	margin-top: 1px;
}

.react-slidedown.accordion_item_content {
	transition-duration: 0.2s;
}

.accordion__item_content {
	position: relative;

	.title {
		padding-top: 40px;
		margin-left: 16px;
	}

	.help_link {
		padding: 0 14px;
		display: flex;
		align-items: center;
		height: 42px;
		background-color: transparent;
		border-radius: 8px;
		margin-bottom: 2px;

		@media (hover: hover) {
			&:hover {
				background-color: #FAFAFD;
				color: #455A64;
			}
		}

		&:active {
			background-color: #FAFAFD;
			color: #455A64;
		}

		.help_link_icon {
			margin-right: 12px;
		}
	}
}

// End: accordion

.links {
	margin-top: 49px;
	width: 100%;

	@media (min-width: 768px) {
		display: none;
	}

	@media (max-width: 480px) {
		margin-top: 55px;
	}
}

.link {
	display: block;
	padding: 16px;
	font-size: 17px;
	text-transform: uppercase;
	line-height: 20px;
	font-weight: 600;
	color: #455A64;

	@media (hover: hover) {
		&:hover {
			color: #151B1E;
		}
	}

	&:active {
		color: #151B1E;
	}
}