.footer {
	padding: 165px 0 40px;

	@media (max-width: 1024px) {
		padding: 166px 0 40px;
	}

	@media (max-width: 767px) {
		padding: 74px 0 40px;
	}
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 80px;

	@media (max-width: 1024px) {
		max-width: 976px;
	}

	@media (max-width: 896px) {
		padding: 0 40px;
	}

	@media (max-width: 480px) {
		padding: 0 20px;
	}
}

.wrapper {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ECEFF1;
	padding-bottom: 63px;

	@media (max-width: 767px) {
		flex-wrap: wrap;
		border-bottom: none;
		padding-bottom: 20px;
	}
}

.links {
	display: flex;
	max-width: 625px;
	width: 100%;
	padding-top: 7px;

	@media (max-width: 1024px) {
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	@media (max-width: 767px) {
		flex-direction: column;
		padding-top: 64px;
	}

	@media (max-width: 480px) {
		padding-top: 58px;
	}
}

.app {
	max-width: 282px;
	margin-right: 20px;
	padding: 5px 0 0 1px;

	@media (max-width: 1024px) {
		padding: 6px 0 0 3px;
	}

	@media (max-width: 767px) {
		max-width: 314px;
	}

	@media (max-width: 480px) {
		max-width: 282px;
	}
}

.logo {
	margin-bottom: 15px;

	@media (max-width: 1024px) {
		margin-bottom: 14px;
	}
}

.app_text {
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.5px;
	color: #6D7F8D;
}

.item {
	width: 100%;
}

.users {
	margin-right: 99px;
	max-width: 160px;
	min-width: 160px;

	@media (max-width: 910px) {
		margin-right: 50px;
	}

	@media (max-width: 896px) {
		margin-right: 11.05vw;
	}

	@media (max-width: 825px) {
		margin-right: 5.05vw;
	}

	@media (max-width: 767px) {
		margin-bottom: 56px;
	}
}

.socials {
	max-width: 184px;
	margin-right: 57px;

	@media (max-width: 1024px) {
		margin-right: 0;
	}

	@media (max-width: 767px) {
		margin-bottom: 78px;
	}

	@media (max-width: 480px) {
		margin-bottom: 39px;
	}
}

.contacts {
	max-width: 125px;

	@media (max-width: 1024px) {
		max-width: 184px;
		margin-top: 17px;
	}
}

.item_title {
	font-size: 15px;
	line-height: 15px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-bottom: 16px;
	color: #607d8b;
}

.item_link {
	display: block;
	font-size: 15px;
	line-height: 15px;
	padding: 8px 0;
	letter-spacing: 0.5px;
	margin-bottom: 8px;
	white-space: nowrap;
	color: #9ba8b2;
	cursor: pointer;
	transition: all 0.2s;

	&:visited {
		color: #9ba8b2;
	}

	@media (hover: hover) {
		&:hover {
			color: #607d8b;
		}
	}

	&:active {
		color: #607d8b;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
	width: 100%;

	@media (max-width: 1024px) {
		height: 89px;
		flex-wrap: wrap;
	}
}

.bottom_left {
	margin-left: 4px;

	span {
		font-size: 15px;
		line-height: 15px;
		letter-spacing: 0.5px;
		color: #ABBAC5;
	}

	@media (max-width: 1024px) {
		order: 2;
		margin-left: auto;
	}

	@media (max-width: 767px) {
		margin-left: initial;
		padding: 19px 0 35px;
	}
}

.bottom_right {
	display: flex;
	align-items: center;
	max-width: 529px;
	width: 100%;

	@media (max-width: 1024px) {
		order: 1;
		max-width: 100%;
		padding: 24px 0 20px;
	}

	@media (max-width: 767px) {
		border-bottom: 1px solid #ECEFF1;
		padding: 24px 0 11px;
	}
}

.bottom_right_rules {
	display: flex;

	@media (max-width: 767px) {
		display: block;
	}
}

.bottom_link {
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 0.5px;
	color: #7B8B99;
	margin-right: 32px;
	transition: all 0.2s;

	@media (max-width: 767px) {
		display: block;
		padding: 12px 0;
	}

	// &:visited {
	// 	color: #555f68;
	// }

	@media (hover: hover) {
		&:hover {
			color: #555f68;
		}
	}

	&:active {
		color: #555f68;
	}
}

.bottom_right_social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 104px;
	width: 100%;

	@media (max-width: 1024px) {
		margin-left: auto;
		padding-top: 1px;
	}

	@media (max-width: 767px) {
		display: none;
	}
}

.bottom_right_social_link {
	display: flex;

	@media (hover: hover) {
		&:hover svg path {
			fill: #525F6A;
			transition: all 0.2s;
		}
	}

	&:active svg path {
		fill: #525F6A;
	}
}



/* End: Modern-footer */